{{ $services := .Site.Data.services }}

<section class="blue">

  <div class="row justify-content-md-center text-center">

    {{ range $index, $element := $services.services }}

    <div class="">
      <div class="card center p-3">
        {{ if $element.link }}
          <a href="{{ $element.link }}">
        {{ end }}
        <img src="{{.Site.BaseURL}}images/{{ $element.icon }}" class="icon">
        {{ if $element.link }}
          </a>
        {{ end }}
      </div>
    </div>

    {{ end }}
  </div>
</section>